{{-  if .Values.cronJob.create -}}
apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ include "kanister-actionset.cronJobName" . }}
  labels:
    {{- include "kanister-actionset.labels" . | nindent 4 }}
  {{- with .Values.cronJob.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  schedule: "{{ .Values.cronJob.schedule }}"
  jobTemplate:
    spec:
      template:
        spec:
          containers:
          - name: kanctl
            image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
            imagePullPolicy: IfNotPresent
            command:
              - /bin/sh
              - -c
              - |
                kanctl create actionset --action backup -A {{ .Values.actionsetName }} --namespace {{ .Release.Namespace }} \
                  --blueprint {{ .Values.blueprintName }} --profile {{ .Values.profileName }} \
                  --objects v1/secrets/{{ .Release.Namespace }}/{{ include "kanister-actionset.secretName" . }} \
                  --options tenant={{ .Values.tenant }},environment={{ .Values.environment }},application={{ .Values.application }}
            resources: {}
          restartPolicy: Never
{{- end }}